// Basic Elements
body {
  $max-width: 1200px;
  background: $off-white;
  color: $dark-grey;
  font-family: $typeface-sans;
  text-align: center;
  text-shadow: 1px 0px 1px $white;
  font-size: 125%
}

a, a:visited {
  @include transition (all 0.2s ease-in-out);
  color: $orange;
}

a:hover {
  color: darken($orange, 10%);
}

a:active {
  color: lighten($orange, 10%);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  margin: 0;
  line-height: 100%;
  font-size: 2em;
  font-weight: 400;
  font-family: $typeface-condensed;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 1em;
  color: $grey;
  display: inline-block;
  border: 2px solid $grey;
  border-left: none;
  border-right: none;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.45;
}

h3 {
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

h4 {
  margin: 0 0 0.5em 0;
}

h5 {
  font-size: 1em;
  line-height: 100%;
  font-weight: 400;  
}

h6 {}

p {}
