// Basic Elements
body {
  background: white;
  color: $dark-grey;
  font-family: $typeface-sans;
  text-align: center;
  text-shadow: 1px 1px 1px transparent;
  font-size: 125%
}

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1 {
  font-size: 2em;
  font-family: $typeface-condensed;
  text-transform: uppercase;
}

h2 {
  color: $grey;
  font-size: 1em;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

h4 {}

h5 {}

h6 {}

p {}
