// Typefaces
$typeface-sans:      "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-condensed: "league-gothic", "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed",  "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
$typeface-serif:     Georgia, Cambria, "Times New Roman", Times, serif;
