// Section
.s-campaign {
  padding: $section-top-padding 0 $section-bottom-padding;
  background: $light-grey;
} // .s-campaign

.l-split-campaigns {
  @include row;

  @include media-ie($breakpoint-ipad) {
    .s-campaign__half {
      @include span-columns(6);
      @include omega(2n);
    }
  }
} // .l-split-campaigns

// Campaign
.m-campaign {
  // @include row;
  margin: 1.5em auto 0;

  .campaign-photo {
    max-width: 10em;
    margin-bottom: 0.5em;
  }

  .campaign-profile {
    margin-bottom: 2em;
  }

  .campaign-meta {
    color: $purple;

    a {
      color: $purple;
      font-size: 0.875em;
      font-weight: 700;

      &:hover {
        color: darken($purple, 10%);
      }

      &:active {
        color: lighten($purple, 10%);
      }

    } // a


    .campaign-social {

      ul {
        display: block;
        list-style: none;
        margin: 0.25em 0 2em 0;
      }

      li {
        display: inline-block;
        margin: 0 0.5em;
      }

    } // .campaign-social

  } // .campaign-meta

  .campaign-copy {
    text-align: left;
  }

  &.mini {
    max-width: 40em;
    font-size: 75%;
  }

  @include media-ie($breakpoint-ipad) {

    .campaign-photo {
      // max-width: 100%;
      max-width: 20em;
    }

    // .campaign-profile {
    //   @include span-columns(4);
    // }
    //
    // .campaign-copy {
    //   @include span-columns(8);
    // }

    &.mini {
      @include span-columns(6);
      @include omega(2n);
      max-width: none;
      font-size: 75%
    }

  } // @include media-ie($breakpoint-ipad)

} // .m-campaign

// Previous campaigns
.l-previous-campaigns {
  @include row;
} // .l-previous-campaigns

h1.previous {
  margin-top: 2em;
}
