.m-campaign {
  padding: 2em 0;
  background: $light-grey;
  
  .campaign-profile {
    @include media-ie($breakpoint-ipad) {
      @include span-columns(4);
    }
    
    img {
      width: 100%;
      border: .5em solid $off-white;
      @include box-shadow(0 0 0.25em rgba($dark-grey, 0.25));
    }
  }
  
  .campaign-copy {
    @include media-ie($breakpoint-ipad) {
      @include span-columns(8);
      text-align: left;
    }
  }

}