.m-connect {
  padding: 2em 0;
  background: $purple;
  text-shadow: 0 -1px 1px darken($purple, 10%);
  color: $off-white;
  
  h2 {
    border: 2px solid $light-grey;
    border-left: none;
    border-right: none;
    color: $light-grey;
  }
}