.m-footer {
  padding: 1em 0;
  background: $dark-grey;
  color: $white;
  text-align: center;

  .footer-logo {
    width: 6em;
    margin: 0.5em auto;

    img {
      width: 100%;
    }

  } // .footer-logo

  .footer-attribution {
    font-size: 0.625em;
    
    color: $off-white;
    text-shadow: 0 -1px 1px darken($dark-grey, 10%);
    
    a {
      color: $off-white;
      
      &:hover {
        color: $orange;
      }
      
      &:active {
        color: lighten($orange, 10%)
      }
    }
  }

}
