.m-intro {
  padding: 4em 0;
  border-bottom: 0.5em solid $purple;
  background: $dark-grey image-url("canc3r_bg.jpg") no-repeat center center;
  color: $off-white;

  .intro-tees {

    ul {
      display: block;
      list-style: none;
      margin: 0;
    }

    li {
      display: inline-block;
      width: 33.33%;

      &:hover {
        @include transform(scale(1.125));
      }

    } // li

    img {
      width: 100%;
    }

    @include media-ie($breakpoint-desktop) {
      @include span-columns(8);
      @include shift(2);
    }

  } // .intro-tees

  .intro-copy {
    text-shadow: 0 -1px 1px rgba($dark-grey, 0.75);

    .intro-social {

      ul {
        display: block;
        list-style: none;
        margin: 0 0 2em 0;
      }

      li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.25em;

        a {
          color: $off-white;

          &:hover {
            color: $orange;
          }
          &:active {
            color: lighten($orange, 10%);
          }

        } // a

      } // li

    } // .intro-social

    .intro-learn {
      display: block;
      margin: 0.75em 0 0 0;
      color: $off-white;
      font-size: 0.875em;
      font-style: italic;

      a {
        color: $off-white;
      }

      a:hover,
      a:active {
        // color: $off-white;
        color: darken($off-white, 10);
        text-decoration: underline;
      }

    } // .intro-learn

    @include media-ie($breakpoint-ipad) {
      @include span-columns(10);
      @include shift(1);

      h1 {
        font-size: 3em;
      }

    } // @media $breakpoint-ipad

    @include media-ie($breakpoint-desktop) {
      @include span-columns(8);
      @include shift(2);

      h1 {
        font-size: 4em;
      }

    } // @media $breakpoint-desktop

  } // .intro-copy

} // .m-intro
