.m-mission {
  padding: 2em 0;
  
  .mission-statement {
    @include row;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;

    .mission-logo {

      @include media-ie($breakpoint-ipad) {
        @include span-columns(4);
      }

    } // .mission-logo

    .mission-parts {

      ol {
        margin-top: 0.5em;
        font-family: $typeface-condensed;
        font-size: 2em;
        line-height: 100%;
        text-align: left;
        text-transform: uppercase;
      }
      
      li {
        margin: 0;
      }

      @include media-ie($breakpoint-ipad) {
        @include span-columns(8);
      }

    } // .mission-parts

  } // .mission-statement
  
  .mission-copy {
    text-align: left;
    
    .mission-sig {
      font-weight: 700;
    }

    @include media-ie($breakpoint-desktop) {
      .mission-copy-half {
        @include span-columns(6);
      }
    }

  } // .mission-copy

} // .m-mission
