// Mission Section
.m-mission {
  padding: 2em 0;

  .mission-copy {
    text-align: left;

    .mission-sig {
      font-weight: 700;
    }

    @include media-ie($breakpoint-desktop) {
      .mission-copy-half {
        @include span-columns(6);
      }
    }

  } // .mission-copy

} // .m-mission


// Mission Statement
.m-mission-statement {
  @include row;
  max-width: 16em;
  margin: 0 auto 1.25em;

  .mission-statement-list {
    padding-top: 0.5em;
    margin: 0 auto;
    font-family: $typeface-condensed;
    font-size: 1.75em;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;

    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      margin: 0;
    }

  } // .mission-statement-list

  @include media-ie(550px) {
    max-width: 25em;

    .mission-statement-logo {
      @include span-columns(4);
    }

    .mission-statement-list {
      @include span-columns(8);
      font-size: 2em;
    }

  } // @media-ie($breakpoint-ipad)

} // .mission-statement
