.m-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
  background: rgba(255,255,255,0.9);
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 1px #fff;
  text-transform: uppercase;
  
  .nav-logo {
  @include span-columns(3);
  padding: 0.5em 0 0.25em 0;
    img {
    max-height: 2em;
    }
  }

  ul {
    @include unstyled-list;
    @include outer-container;
    padding: 1em 0 0 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0 2em;
  }

  a {
    display: inline-block;
    padding: 0.5em 1em;

    &:hover {
      background: darken(#fff, 5%);
    }
  }

  .text {
    display: none;
  }

  @include media($breakpoint-ipad) {
    .icon {
      display: none;
    }

    .text {
      display: inline-block;
    }
  }

  @include media($breakpoint-desktop) {
    font-size: 80%;
  }
}
